<div class="container">
  <div class="row">
      <form  [(formGroup)]="courseForm">
          <h2 class="text-center">Add Course</h2>
          <div class="form-group">
            <label for="Title">Title:</label>
            <input type="text" formControlName="title" name="title"  placeholder="Enter Title" class="form-control">
          </div>
          <div class="form-group">
            <label for="Duration">Duration:</label>
            <input type="number" formControlName="duration" name="duration"  placeholder="Enter Duration" class="form-control">
          </div>
          <div class="form-group">
              <label for="Duration">Duration Unit:</label>
              <input class="form-control" type="text" formControlName="durationUnit" name="durationUnit">
            </div>
            <div class="form-group">
                <label for="Description">
                  Description
                </label>
                <textarea placeholder="Enter Description" formControlName="description" name="description" class="form-control"></textarea>
            </div>
         <div class="form-group text-center">
          <button type="button" class="btn btn-primary" (click)="saveCourse()">Save</button>
         </div>
      </form>
  </div>
</div>